@keyframes blinking-network-status {
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

body #topbar {
    @include BIDIR_VALUE(text-align, right, left);
    display: flex;
    position: sticky;
    bottom: 0;
    height: 36px;
    padding: 0;
    color: $COLOR_BLACK;
    background-color: $COLOR_WHITE;
    border-top: 1px solid var(--general-section-1);
    align-items: center;
    justify-content: flex-end;

    #topbar-info {
        display: flex;
        align-items: center;
        height: 36px;
        margin: 0 0.8em;

        div, span {
            display: inline-flex;
            align-items: center;
        }
        #network_status_wrapper {
            width: 42px;
        }
        #topbar-fullscreen {
            height: inherit;
            padding: 0 0.8em;
            margin-left: 0.8em;
            cursor: pointer;

            &:hover {
                background-color: var(--general-hover);
            }
            img {
                width: 16px;
                height: 16px;
                align-self: center;
            }
        }
    }
    [data-balloon] {
        &:before {
            font-size: 0.75rem;
            text-align: center;
            padding: 0.7em;
            max-width: 280px;
            border-radius: 4px;
            background: var(--general-active);
            color: $COLOR_BLACK;
            content: attr(data-balloon);
            margin-bottom: 11px;
            box-shadow: none;
        }
        &:after {
            background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="#{rgba($color-grey-5, 1)}" transform="rotate(0)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>') no-repeat;
            background-size: 100% auto;
            height: 6px;
            width: 18px;
            content: '';
            margin-bottom: 6px;
        }
        &:before, &:after {
            opacity: 0;
            transition: opacity ease 0.2s;
            transform: translate(-50%, 0);
        }
        &:hover:before, &:hover:after {
            opacity: 1;
        }
    }
    .container {
        max-width: 1200px;
    }
    #virtual-text {
        font-weight: 700;
    }
    #gmt-clock {
        font-size: 0.75rem;
        font-weight: 100;
        padding: 0 0.8em;
        width: 147px;
    }
    #gmt-clock, #contact-us, .upgrademessage {
        align-self: center;
    }
    a {
        color: $COLOR_WHITE;
        white-space: nowrap;
        text-decoration: none;
    }
    #select_language {
        top: -3px;
    }
    @media all and (min-width: 550px) {
        .mm-menu.mm-right {
            width: 250px;
        }
    }

    #network_status {
        width: 10px;
        height: 10px;
        margin: auto;
        border-radius: 50%;
        background: var(--text-profit-success);

        &.offline {
            background: var(--text-loss-danger);
        }
        &.blinker {
            animation: blinking-network-status 0.4s alternate infinite;
            background: var(--text-profit-success);
        }
    }
}

body .header {
    background-color: $COLOR_WHITE;
    height: 48px;
    display: flex;
    transition: opacity 0.3s;
    width: 100%;
    border: none;

    .is-login, .is-logout {
        display: none;
    }
    &__btn {
        display: flex;
        align-items: center;
        height: 100;

        &-login, &-signup {
            margin-right: 17px;
        }
    }
    &__menu {
        &-acc {
            position: relative;
        }
        &-items {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            align-self: center;
            border-bottom: 1px solid var(--general-section-1);

            > * {
                display: inline-flex;
            }
        }
        &-item {
            height: 100%;
            align-self: center;
        }
        &-links {
            display: flex;
            width: auto;

            &-item {
                align-self: center;
                padding: 0 1rem;
                justify-content: space-evenly;
                transition: background-color 0.3s;
                cursor: pointer;
                font-size: $FONT_SIZE_N;
                color: var(--text-general) !important;
                font-weight: 300;
                text-transform: none;
                text-align: left;
                line-height: 1.75;
                position: relative;
                display: flex;
                height: 100%;

                &:hover {
                    background: var(--state-hover);
                }
                > span {
                    align-self: center;
                }
            }
        }
        &-right, &-left {
            > * {
                align-self: center;
            }
        }
    }
    &__acc {
        &-info {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 20px;
            margin-right: 8px;
            cursor: pointer;

            &:hover {
                background: var(--state-hover);
            }
        }
        &-balance {
            padding: 0 8px;
            color: var(--text-profit-success);
            font-size: $FONT_SIZE_N;
            font-weight: bold;
        }
    }
    &__logo {
        height: 35px;
    }
    &__icon {
        height: 16px;
        width: 16px;

        &-text {
            margin-right: 0.5rem;
        }
        &-button {
            height: 22px;
            width: 22px;
            cursor: pointer;
            margin: 0 20px;
        }
    }
    &__deposit {
        margin-right: 16px;
    }
    &__divider {
        height: 32px;
        width: 1px;
        background-color: var(--general-section-1);
    }
    &__expand {
        transition: transform 500ms;

        &-light {
            transition: transform 500ms;
        }
        &.rotated {
            transform: rotate(180deg);
            transition: transform 500ms;
        }
    }
    .platform {
        &__switcher {
            display: flex;
            justify-content: center;
            padding: 0 16px;
            cursor: pointer;

            > * {
                align-self: center;
            }
            &:hover {
                background: var(--state-hover);
            }
            &-header {
                font-size: $FONT_SIZE_N;
                line-height: 24px;
                font-weight: bold;
                color: var(--text-general);
                margin: 0 8px;
            }
            &-label {
                font-size: $FONT_SIZE_S;
                font-weight: bold;
                text-align: center;
                line-height: 20px;
                border-radius: 10px;
                margin-left: 7px;
                width: 50px;
                height: 20px;
                background: var(--brand-secondary);
                color: var(--text-colored-background);
            }
        }
        &__dropdown {
            position: absolute;
            height: 100%;
            width: 100%;
            background: var(--overlay-outside-dialog);
            z-index: 99999;
            top: 51px;
            display: none;

            &--show {
                display: block;
            }
            &-list {
                width: 100%;
                background: var(--general-main-1);
                justify-content: space-evenly;
            }
        }
        &__list {
            &-item {
                position: relative;
                display: inline-flex;
                background-color: transparent;
                color: var(--text-general);
                text-decoration: none;
                border-radius: 8px;
                margin: 24px 16px;
                padding: 24px 16px;
                flex-basis: 100%;
                width: 302px;

                &:not(.platform__list-item--active):hover {
                    background: var(--state-hover);
                }
                &--active {
                    border: solid 2px var(--border-active);
                }
                &-icon {
                    width: 35px;
                    height: 35px;
                }
                &-text {
                    margin-left: 15px;
                    font-weight: normal;
                }
                &-name {
                    font-size: $FONT_SIZE_N;
                    font-weight: 700;
                    line-height: 24px;
                }
                &-desc {
                    font-size: $FONT_SIZE_S;
                    line-height: 20px;
                }
            }
        }
    }
    .account {
        &__switcher {
            display: none;
            position: absolute;
            z-index: 99;
            right: 0;
            border-radius: 4px;
            background: var(--general-main-2);
            box-shadow: 0 8px 16px 0 var(--shadow-menu);

            &-add {
                display: none;

                &--active {
                    display: flex;
                    align-items: center;
                    background-color: transparent;
                    border-radius: 4px;
                    margin: 0 0 14px;
                    height: 40px;
                    color: var(--brand-red-coral);
                    font-size: $FONT_SIZE_S;

                    &:hover {
                        background-color: rgba(255, 68, 79, 0.08) !important;
                    }
                }
                &-icon {
                    width: 24px;
                    height: 24px;
                    padding: 0 8px;
                }
                &-text {
                    font-weight: normal;
                }
            }
            &-acc {
                display: flex;
                align-items: center;
                padding: 3px 8px;
                border-radius: 3px;
                font-size: $FONT_SIZE_S;
                cursor: pointer;

                &--active {
                    background: var(--state-hover);
                    font-weight: 600;
                }
                &:hover {
                    background: var(--state-hover);
                }
                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }
            }
            &-loginid {
                font-size: $FONT_SIZE_XXS;
                color: var(--text-less-prominent);
                line-height: 1.4;
                font-weight: normal;
            }
            &-accordion {
                padding: 4px 8px;

                h3.ui-state-default, h3.ui-state-active {
                    background-image: none;
                    background-color: var(--general-main-2);
                    color: var(--text-prominent);
                    font-weight: 600;
                    font-size: $FONT_SIZE_N;
                    line-height: 1.75;
                    border: none;
                    padding: 0;

                    &:hover {
                        background-image: none;
                        background-color: var(--general-main-2);
                        color: var(--text-prominent);
                    }
                }
                h3.ui-state-active {
                    .header__expand, .header__expand-light {
                        transform: rotate(180deg);
                        transition: transform 500ms;
                    }
                }
                &-header {
                    &-text {
                        height: 40px;
                        margin: 0 8px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }
            &--show {
                display: block;
            }
            &-container {
                width: 278px;
                padding: 0;
            }
            &-tab {
                width: 50%;
                text-align: center;
                display: flex;
                float: none;
                align-items: center;

                &.ui-tabs-active {
                    border-bottom: solid 1.5px var(--brand-red-coral) !important;

                    a {
                        font-weight: 700;
                        color: var(--text-prominent);
                    }
                }
                a {
                    color: var(--text-general);
                    padding: 0 !important;
                    width: 100%;
                    font-size: $FONT_SIZE_S;
                    font-weight: normal;
                    white-space: nowrap;
                }
            }
            &-tabs {
                display: flex;
                height: 36px;
                padding: 0 !important;
                border-bottom: 1px solid var(--general-section-1);
                background: var(--general-main-2);

                &-content {
                    padding: 0 !important;
                }
            }
            &-list {
                padding: 0 !important;
                border: 0 !important;
            }
            &-seperator {
                height: 4px;
                background: var(--general-section-2);
            }
            &-total {
                &-text {
                    margin: 0 16px 12px;
                    font-size: $FONT_SIZE_XXS;
                    color: var(--text-less-prominent);
                    line-height: 1.4;
                }
                &-balance {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 4px 16px;
                    height: 26px;

                    &-text {
                        font-size: $FONT_SIZE_S;
                        color: var(--text-prominent);
                        font-weight: bold;
                    }
                    &-amount {
                        font-size: $FONT_SIZE_S;
                        font-weight: 300;
                    }
                }
            }
            &-balance {
                margin-left: auto;
                font-weight: 300;
                color: var(--status-success);

                &-virtual {
                    color: var(--text-general);
                }
            }
            &-logout {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 16px 13px;
                float: right;
                cursor: pointer;

                &-text {
                    font-size: $FONT_SIZE_S;
                    text-align: left;
                    line-height: 1.5;
                }
                &-icon {
                    height: 16px;
                    width: 16px;
                    margin-left: 8px;
                }
            }
        }
    }
}
