.quill {
    &-container {
        &-centered {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-block: 20px;
        }
    }
}

.tab-explanation {
    display: flex;
    flex-direction: column;
    gap: 40px;

    h3 {
        font-weight: 700;
    }
}

.secondary-title {
    margin-top: 40px;
}

.hint {
    line-height: 22px;
}

.chart-section {
    padding-block: 32px;
}


.contained-section {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.trading-container {
    background: var(--core-color-solid-slate-75);
    padding: 40px 0px;
}

.market-navigation-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--core-size-800);

    @media(max-width: 768px){
        flex-direction: column-reverse;
    }

    div#markets-dropdown-container {
        @media(max-width: 768px){
            width: 100%;
        }
    }
    div#underlying_details {
        display: flex;
        flex-direction: column;
        transform: scale(0.88);

        #spot{
            margin-top:  5px;
        }
    }
    div#onboarding-container {
        margin-left: auto;
    }
    .sub-navigation-container {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        align-items: center;

        @media(max-width: 768px){
            width: 100%;
        }
    }
}

.quill-market-selector {
    &-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        z-index: 100;

        @media(max-width: 768px){
           gap: var(--core-size-800);
        }
    }
    &-dropdown {
        width: 100%;
        max-width: 222px !important;
        margin: 0 10px 0 0;
        flex: none;

        @media(max-width: 768px){
            max-width: 100% !important;

            .quill-custom-dropdown__container {
                max-width: 100% !important;
            }
        }
    }
}

.quill-market-dropdown {
    &-container {
        width: 360px;
        padding: 8px 0 0;
        background: var(--core-color-solid-slate-50);
        margin: 10px 0px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.04);

        @media(max-width: 768px){
            width: 100%;
            margin: 0px;
        }
    }
    &-search-container {
        padding: var(--core-spacing-400) var(--core-spacing-800);
    }
    &-tab-container {
        .tab-list--item-hug-content {
            height: 48px; // Needs to be fixed from Quill side. 
        }
    }
    &-item-container {
        height: fit-content;
        max-height: 420px;
        overflow-y: auto;
        padding: 0 var(--core-spacing-400);

        &.market-item-container {
            max-height: 320px;

            @media(max-width: 768px){
                max-height: calc(100vh - 300px);
            }
        }
    }
}


div#tradetype-dropdown {
    #contract_component {
        display: none;
    }
}

div#contract-injection-container {
    #contract_component {
        display: block;

        @media(max-width: 768px){
           width: 100%;

           .quill-market-dropdown-item-container {
            max-height: none;
           }
        }
    }
}

div#purchase_container {
    width: 100%;
    max-width: 430px;

    @media(max-width: 768px){
        max-width: none;
    }
}

.quill-purchase-section {
    display: flex;
    flex-direction: column;
    gap: var(--core-spacing-800);

    p {
        margin: 0px;
    }
    &-results {
        display: flex;
        flex-direction: column;
        background: var(--core-color-solid-slate-50);
        border-radius: var(--core-borderRadius-800);
        width: 100%;
        height: 100%;

        p {
            margin: 0px;
        }
        .top-box {
            display: flex;
            flex-direction: column;
            padding: var(--core-spacing-1200) 0;

            .header-box {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 var(--core-size-800);
                margin-bottom: var(--core-size-800);
                position: relative;

                .close-btn {
                    position: absolute;
                    right: 16px;
                    display: flex;
                    width: 48px;
                    height: 48px;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
            .body-box {
                display: flex;
                flex-direction: column;
                padding: 0 var(--core-size-800);
                gap: var(--core-size-800);

                .description-box {
                    display: flex;
                    border-radius: var(--core-borderRadius-200);
                    border: solid 1px var( --core-color-opacity-slate-100);
                    padding: 0 var(--core-size-800);
                    background-color: var(--core-color-opacity-slate-75);
                }
                .table-box {
                    display: flex;
        
                    .table-item {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        align-items: center;
                    }
                }
                .info-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .view-btn {
                        margin-top: var(--core-size-400);
                    }
                }
                .error-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: var(--core-size-800);

                    .error-message {
                        padding: var(--core-size-800);
                    }
                    button {
                        width: fit-content;
                    }
                }
            }
            .analysis-box {
                margin-top: var(--core-spacing-800);

                .digit-tick-epoch {
                    position: relative !important;
                    margin-bottom: var(--core-spacing-800);
                    top: 0 !important;
                    right: 0 !important;
                }
                .digit-trade {
                    .quote {
                        font-weight: bold;
                    }
                }
                .digit-ticker {
                    margin-top: var(--core-spacing-800);

                    .mask {
                        font-size: 10px;
                    }
                    .digit {
                        &.digit-winning {
                            background-color: var(--core-color-opacity-green-100);
                            color: var(--core-color-opacity-green-600);
                        }
                    }
                }
            }
        }
        .footer-box {
            display: flex;
            justify-content: center;
            background-color: var(--core-color-opacity-slate-100);
            padding: var(--core-spacing-400);
            border-radius: 0 0 var(--core-borderRadius-800) var(--core-borderRadius-800);
            gap: 4px;
        }
    }
    &.disabled {
        opacity: 0.5;
    }
    .purchase-box {
        display: flex;
        flex-direction: column;
        background: var(--core-color-solid-slate-50);
        border-radius: var(--core-borderRadius-800);
        height: fit-content;
        min-height: 50px;
        width: 100%;
        
       
        .purchase-header {
            display: flex;
            padding: var(--core-spacing-800);
            gap: var(--core-spacing-800);
           
            .purchase-icon-box {
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 80px;

                .contract_heading {
                    height: 48px;
                    width: 48px;
                    background-size: 75% !important;
                }
            }
            .purchase-body-box {
                display: flex;
                flex-direction: column;
                gap: var(--core-spacing-800);
                width: 100%;

                .purchase-amount-box {
                    display: flex;
                    gap: var(--core-spacing-400);
                    justify-content: center;
                    flex-wrap: wrap;

                    .purchase-amount-info-box {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        align-items: center;

                        p {
                            transition: 100ms color ease-in-out;
                        }
                        .price_moved_up,.price_moved_down{
                            background: unset;
                        }
                        .price_moved_up {
                            color: var(--semantic-color-emerald-solid-surface-normal-highest);
                        }
                        .price_moved_down {
                            color: var(--semantic-color-cherry-solid-surface-normal-highest);
                        }
                    }   
                }
            }
        }
        .purchase-footer {
            display: flex;
            width: 100%;
            min-height: 32px;
            border-radius: 0 0 var(--core-borderRadius-800) var(--core-borderRadius-800);
            background: var(--core-color-opacity-slate-100);
            justify-content: center;
            padding: var(--core-spacing-400) var(--core-spacing-800);
        }
        
    }
}

.quill-purchase-popup {
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    height: calc(100% - 84px);
    background: var(--core-color-solid-slate-75);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    .popup-scroller {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        height: calc(100% - 48px);
        width: 100%;
    }
    .header-box {
        display: flex;
        width: 100%;
        height: 48px;
        background: var(--core-color-opacity-white-800);

        .title-box {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }
    .body-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 940px;

        .purchase-details-box {
            display: flex;
            width: 100%;
            justify-content: center;
            gap: var(--core-spacing-1200);
            flex-direction: column;
            padding: var(--core-spacing-1200) 0;
        }
        .loader-box {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: var(--core-spacing-1200);
            padding: 40px 0 var(--core-spacing-1200) 0;

            .body-loader {
                display: flex;
                gap: var(--core-size-800);
            }
        }
        .details-title {
            display: flex;
            width: 100%;
            justify-content: center;
        }
        .details-column {
            display: flex;
            width: 100%;
            gap: var(--core-spacing-800);

            .chart-wrapper {
                width: 100%;
                background: var(--core-color-solid-slate-50);
                border-radius: 8px;
                height: fit-content;
            }
            .contract-info-wrapper {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 360px;
                background: var(--core-color-solid-slate-50);
                border-radius: 8px;
                height: fit-content;

                &.full {
                    max-width: none;
                }
                .table-box {
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    padding: 8px 16px;
                    border-bottom: solid 1px var(--core-color-opacity-slate-100);
                    gap: var(--core-spacing-400);

                    &.lg {
                        flex-direction: column;
                        border-bottom: none;
                        justify-content: center;
                        padding: var(--core-spacing-800);
                        margin: var(--core-spacing-800) 0 0 0;
                    }
                    p, .info-msg {
                        width: 100%;
                        white-space: normal;
                    }
                    .table-item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        min-width: 140px;
                        width: fit-content;

                        &:first-child {
                            max-width: 140px;
                        }
                        &.profit-loss {
                            p {
                                font-weight: bold;

                                &.profit {
                                    color: var(--semantic-color-emerald-solid-surface-normal-highest);
                                }
                                &.loss {
                                    color: var(--semantic-color-cherry-solid-surface-normal-highest);
                                }
                                .symbols {
                                    margin-right: 5px;
                                }
                                .percent {
                                    font-weight: normal;
                                }
                            }
                        }
                    }
                }
                .table-container {
                    display: flex;
                    flex-direction: column;
                    padding: var(--core-spacing-800);
                    gap: var(--core-spacing-400);
                    border-bottom: solid 1px var(--core-color-opacity-slate-100);

                    .table-item {
                        display: flex;
                        gap: var(--core-spacing-800);

                        .item-header {
                            display: flex;
                            width: 100%;
                            max-width: 120px;
                            padding: var(--core-spacing-400);
                        }
                        .item-content {
                            display: flex;
                            padding: var(--core-spacing-400);
                            width: 100%;
                            text-align: center;

                            &.highlighted {
                                background: var(--core-color-solid-slate-100);
                            }
                            &.selected {
                                background: var(--core-color-solid-slate-700);
                                
                                p {
                                    color: var(--core-color-solid-slate-50);
                                }
                            }
                            .item-inner {
                                display: flex;
                                width: 100%;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Hide old containers 
// This is to allow QA to disable this quickly
html:not(.test) {
    #contract_prices_container, .popup_page_overlay, .inpage_popup_container {
        position: absolute !important;
        top: -999px !important;
    }
}

html.test {
    .inpage_popup_container {
        z-index: 9999 !important;
    }
}

.purchase-tooltip {
    display: block;
    width: 100%;
    max-width: 200px;
}

#react-tiny-popover-container {
    z-index: 999;
}

.explanation-container {
    margin-block-end: 50px;
    padding-block: 20px;
}

.form_container {
    display: flex;
    width: 612px;
    position: relative;
    z-index: 99;
    padding: var(--semantic-spacing-general-md);

    .form_rows {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .row {
        padding-block: 0;

        .form_field {
            flex: 1;
        }
    }
    .gap-8 {
        gap: 8px;
    }
    .section-msg-container {
        padding-bottom: 58px;
    }
    .dropdown__wrapper {
        max-width: unset !important;
    }
    .dropdown__container {
        width: 100% !important;
        min-width: unset !important;
    }
    .custom-dropdown-wrapper {
        padding: 8px 0 0;
        background: var(--core-color-solid-slate-50);
        margin: 10px 0px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.04);
        max-height: 320px;
        overflow-y: auto;

    }
}

.deriv-dropdown__menu--open {
    position: relative;
    z-index: 99;
}
