.quill {
    &-container {
        &-centered {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

.tab-explanation {
    display: flex;
    flex-direction: column ;
    gap: 40px;

    h3 {
       font-weight: 700; 
    }
    
}

.secondary-title {
    margin-top: 40px;
}

.explanation-container {
    margin-block-end: 50px;
    padding-block: 20px;
}