
/* Style Resets */
button {
    background: initial;
    text-decoration: initial;
    text-align: initial;
    line-height: initial;
    padding: initial;
    display: initial;
    font-weight: initial;
    font-family: initial;
    border-radius: initial;
    cursor: initial;
    font-size: initial;
    border: initial;
    color: initial;

    &:active, 
    &:focus,
    &:hover {
        background: initial;
    }
}

input {
    padding: initial;
}