.price_moved_up {
    background-color: var(--text-profit-success);
    color: $COLOR_WHITE;
}

.price_moved_down {
    background-color: var(--text-loss-danger);
    color: $COLOR_WHITE;
}

a.close {
    position: absolute;
    display: block;
    padding: 0;
    cursor: pointer;
    color: $COLOR_WHITE;
    @include BIDIR_PROP(right, left, 0);
    z-index: 1;
    width: 35px;
    height: 35px;

    &--light-bg {
        background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="14" height="14"><path fill="#{rgba($color-black-1, 1)}" d="M50,5,45,0,25,20,5,0,0,5,20,25,0,45l5,5L25,30,45,50l5-5L30,25Z"/></svg>') no-repeat center;

        &:hover {
            background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="14" height="14"><path fill="#{rgba($COLOR_BLACK, 1)}" d="M50,5,45,0,25,20,5,0,0,5,20,25,0,45l5,5L25,30,45,50l5-5L30,25Z"/></svg>');
        }
    }
    &--dark-bg {
        background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="14" height="14"><path fill="#{rgba($COLOR_WHITE, 1)}" d="M50,5,45,0,25,20,5,0,0,5,20,25,0,45l5,5L25,30,45,50l5-5L30,25Z"/></svg>') no-repeat center;

        &:hover {
            background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="14" height="14"><path fill="#{rgba($COLOR_DARK_WHITE, 1)}" d="M50,5,45,0,25,20,5,0,0,5,20,25,0,45l5,5L25,30,45,50l5-5L30,25Z"/></svg>');
        }
    }
}

a.previous-wrapper {
    display: flex;
    cursor: pointer;

    span {
        &.previous {
            display: block;
            z-index: 1;
            width: 16px;
            height: 14px;
            background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#{rgba(var(--text-prominent), 1)}" d="M8.707.293c.39.39.39 1.024 0 1.414L3.414 7 15 7c.552 0 1 .448 1 1s-.448 1-1 1L3.414 8.999l5.293 5.294c.39.39.39 1.024 0 1.414-.39.39-1.024.39-1.414 0l-7-7-.073-.082-.007-.008.08.09c-.036-.035-.068-.073-.097-.112-.018-.024-.034-.049-.05-.074l-.021-.037c-.011-.02-.022-.04-.031-.06L.07 8.37l-.021-.06-.014-.045-.016-.065-.009-.053-.007-.058L0 8.02v-.04c0-.023.002-.046.004-.07L0 8c0-.05.004-.1.011-.149l.01-.052c.004-.022.009-.043.015-.065l.014-.046.021-.06.023-.051.03-.061.022-.037c.016-.025.032-.05.05-.074l.017-.022c.025-.031.051-.062.08-.09l7-7c.39-.39 1.024-.39 1.414 0z"/></svg>') no-repeat center;
        }
        &.nowrap {
            padding-left: 5px;
        }
    }
    &:hover {
        text-decoration: none;
    }
}

.profit {
    color: var(--text-profit-success);
}

.loss {
    color: var(--text-loss-danger);
}

.pending {
    color: $COLOR_BLACK;
    font-weight: 400;
    font-style: italic;
}

#notifications_wrapper {
    .notice-msg {
        margin-bottom: 5px;
        padding: 10px 26px;
        line-height: 25px;
        font-size: $FONT_SIZE_S;
        position: relative;

        &.dismissible {
            cursor: pointer;
        }
        .notification-dismiss {
            position: absolute;
            top: 0;
            right: 0;
            color: $COLOR_BLUE;
            width: 24px;
            height: 24px;
            line-height: 24px;
            font-family: 'Arial';
            font-size: $FONT_SIZE_N;
        }
        &:hover .notification-dismiss {
            color: $COLOR_ORANGE;
        }
    }
}

#trading_socket_container {
    #notifications_wrapper .notice-msg {
        margin-bottom: 10px;
    }
}

.chart-legend-label {
    font-size: 11px;
    color: var(--text-prominent);
}

// Highcharts overrides
.highcharts {
    &-label-box {
        background-color: var(--general-active);
        fill: var(--general-active);
    }
    &-crosshair-label {
        > text {
            fill: var(--text-prominent) !important;
        }
    }
    &-title {
        font-weight: bold;
        line-height: 24px;
    }
}
