@mixin market_name($FONT_SIZE) {
    font-size: $FONT_SIZE;
    padding: 10px 0;
    font-weight: bold;
    flex: 1 0 auto;
}
@mixin sticky($FONT_SIZE) {
    position: absolute;
    width: 70%;
    top: 60px;
    background: $COLOR_WHITE;
    @media (max-width: 767px) {
        top: 123px;
        width: calc(100% - $FONT_SIZE);
    }
}

.markets {
    min-width: 120px;
    position: relative;

    .market_current {
        border: 1px solid var(--border-normal);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        text-align: left;
        cursor: pointer;
        min-width: 150px;

        &:hover {
            border: 1px solid $COLOR_DARK_GRAY_4;
        }
        .market {
            font-size: 14px;
            font-weight: 400;
            margin: 5px 0;
            color: $COLOR_DARK_GRAY_4;
        }
        .underlying {
            font-size: 16px;
            font-weight: 600;
            margin: 5px 0;
        }
        @media (max-width: 767px) {
            min-width: 120px;
        }
        @media (max-width: 480px) {
            padding: 5px 6px;
        }
    }
    .markets_dropdown {
        background: $COLOR_WHITE;
        border: 1px solid var(--border-normal);
        border-radius: 4px;
        box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.08), 0 0 16px 0 rgba(0, 0, 0, 0.08);
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        transition: visibility 0s 0s, opacity 0.15s ease-in;
        width: 600px;
        z-index: 10000;
        @media (min-width: 320px) and (max-width: 767px) {
            width: calc(100vw - 20px);
        }

        &.hidden {
            opacity: 0;
            visibility: hidden;
            transition: visibility 0s 0.25s, opacity 0.25s ease-in 0.1s;
        }
        .asset-placeholder.mobile {
            margin: 10px 15px 0;
            text-align: left;
            font-weight: 400;
            display: none;
            @media (min-width: 320px) and (max-width: 767px) {
                display: block;
            }

            .close {
                width: 16px;
                height: 16px;
                float: right;
                background: url('../images/pages/trade/assets/ic-close-normal.svg') 100% 100%;
            }
        }
        .search {
            padding: 15px 15px 0;
            background: $COLOR_WHITE;
            border-radius: 4px 4px 0px 0px;
            border-bottom: 1px solid var(--border-normal);

            input {
                outline: none;
                border: 1px solid var(--border-normal);
                border-radius: 4px;
                line-height: 30px;
                padding: 0 7px;
                width: 100%;

                &:hover {
                    border: 1px solid $COLOR_DARK_GRAY_4;
                }
                &:focus {
                    border: 1px solid var(--brand-secondary);
                }
                &::-webkit-input-placeholder { /* Edge */
                    color: var(--general-active);
                }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: var(--general-active);
                }
                &::placeholder {
                    color: var(--general-active);
                }
            }
            .icon {
                width: 16px;
                height: 16px;
                float: right;
                position: relative;
                top: -22px;
                right: 7px;
                background: url('../images/pages/trade/assets/ic-search-normal.svg') 100% 100%;
            }
        }
        .markets_view {
            display: flex;
            width: 100%;
            flex-direction: row;
            text-align: left;
            @media (min-width: 320px) and (max-width: 767px) {
                flex-direction: column;
            }

            .markets_column {
                display: flex;
                flex-direction: column;
                flex: 1 0 auto;
                min-width: 150px;
                background: var(--general-section-1);
                border-bottom-left-radius: 4px;
                @media (min-width: 320px) and (max-width: 767px) {
                    border-right: 0;
                }

                .desktop .market {
                    font-size: 12px;
                    padding: 8px 10px;
                    cursor: pointer;
                    transition: background-color, border-left;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border-left: 2px solid var(--general-section-1);

                    &:not(.active):hover {
                        background-color: var(--general-hover);
                        border-left: 2px solid var(--general-hover);
                        transition: background-color, border-left;
                    }
                    &.active {
                        text-decoration: none;
                        font-weight: 600;
                        background-color: var(--general-main-1);
                        border-left: 2px solid var(--brand-red-coral);
                    }
                    &.subgroup-active {
                        text-decoration: none;
                        font-weight: 600;
                        background-color: var(--general-main-1);
                    }
                    &.subgroup {
                        padding-left: 25px;
                    }
                    span:nth-of-type(2) {
                        margin-left: 10px;
                    }
                }
                .accordion {
                    display: flex;
                    flex-direction: column;

                    .accordion-content {
                        flex-direction: column;
                        display: none;

                        &.show {
                            display: block;
                        }
                        &.active {
                            background-color: var(--general-main-1);
                        }
                    }
                }
                .mobile {
                    display: none;

                    ul {
                        display: flex !important;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 5px 15px 0;
                        border-bottom: 1px solid var(--border-normal);

                        li {
                            margin: 0 !important;
                            font-size: 12px;
                            transition: background 0.2s 0.1s;
                            cursor: pointer;
                            padding: 0 5px 5px;
                            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                            -webkit-tap-highlight-color: transparent;

                            &.active {
                                border-bottom: 2px solid $COLOR_CORAL_RED;
                            }
                            .icon {
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                }
                .icon {
                    display: block;
                    width: 16px;
                    height: 16px;
                    background-repeat: no-repeat;
                    background-size: 100%;

                    &.forex {
                        background: url('../images/pages/trade/assets/ic-forex-normal.svg') no-repeat;
                        background-size: contain;
                        transition: none;
                    }
                    &.basket_index {
                        background: url('../images/pages/trade/assets/ic-basket_index-normal.svg') no-repeat;
                        background-size: contain;
                        transition: none;
                    }
                    &.indices {
                        background: url('../images/pages/trade/assets/ic-indices-normal.svg') no-repeat;
                        background-size: contain;
                        transition: none;
                    }
                    &.stocks {
                        background: url('../images/pages/trade/assets/ic-stocks-normal.svg') no-repeat;
                        background-size: contain;
                        transition: none;
                    }
                    &.commodities {
                        background: url('../images/pages/trade/assets/ic-commodities-normal.svg') no-repeat;
                        background-size: contain;
                        transition: none;
                    }
                    &.synthetic_index {
                        background: url('../images/pages/trade/assets/ic-synthetic_index-normal.svg') no-repeat;
                        background-size: contain;
                        transition: none;
                    }
                    &.accordion-icon {
                        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="#{rgba($primaryBrandColor, 1)}" d="M8.59,16.59,13.17,12,8.59,7.41,10,6l6,6-6,6Z"/></svg>');
                        background-size: contain;
                        transform: rotate(90deg);
                        margin-left: 8.5px;

                        &.active {
                            transform: rotate(270deg);
                        }
                    }
                }
                // For mobile devices
                @media (min-width: 320px) and (max-width: 767px) {
                    .desktop {
                        display: none;
                    }
                    .mobile {
                        display: block;
                    }
                }
            }
            .list {
                display: flex;
                flex-direction: column;
                height: 300px;
                width: calc(100% - 20px);
                overflow-y: scroll;
                padding: 0 10px;

                .market {
                    display: flex;
                    flex-direction: column;
                    flex: 0 0 auto;
                    padding-bottom: 40px;

                    &:last-of-type {
                        padding-bottom: 80px;
                    }
                    .market_name {
                        @include market_name(18px);
                        transition: none;
                        @media (min-width: 320px) and (max-width: 767px) {
                            font-size: 16px;
                        }

                        &.sticky {
                            @include sticky(16px);
                        }
                        &.put_under {
                            z-index: -1;
                        }
                    }
                    .submarket {
                        display: flex;
                        flex-direction: column;
                        flex: 1 0 auto;
                        margin-bottom: 10px;

                        .submarket_name {
                            @include market_name(12px);
                            color: var(--text-prominent);
                        }
                        .symbols {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                            flex: 1 0 auto;

                            .symbol_name {
                                padding: 5px;
                                margin: 10px 5px 5px 0;
                                line-height: 18px;
                                cursor: pointer;
                                width: 162px;
                                font-size: 14px;
                                transition: all 0.2s;
                                @media (min-width: 320px) and (max-width: 767px) {
                                    width: 200px;
                                }

                                &:not(.active):hover {
                                    background: var(--general-hover);
                                }
                                &.active {
                                    background: var(--general-active);
                                    font-weight: bold;
                                    @media (min-width: 320px) and (max-width: 767px) {
                                        background: var(--general-active);
                                        font-weight: bold;
                                        padding-left: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
                .subgroup {
                    display: flex;
                    flex-direction: column;
                    flex: 0 0 auto;
                    padding-bottom: 40px;

                    &:last-of-type {
                        padding-bottom: 80px;
                    }
                    .label {
                        @include market_name(18px);

                        &.sticky {
                            @include sticky(18px);
                        }
                        &.put_under {
                            z-index: -1;
                        }
                    }
                    .subgroup_name {
                        font-size: 18px;
                        padding: 10px 0;
                        font-weight: bold;
                        flex: 1 0 auto;
                        transition: none;
                        @media (min-width: 320px) and (max-width: 767px) {
                            font-size: 16px;
                        }
                        @media (min-width: 767px) {
                            &.sticky {
                                @include sticky(16px);
                            }
                            &.put_under {
                                z-index: -1;
                            }
                        }
                    }
                    .submarket {
                        display: flex;
                        flex-direction: column;
                        flex: 1 0 auto;
                        margin-bottom: 10px;

                        .submarket_name {
                            @include market_name(12px);
                            color: var(--text-prominent);
                        }
                        .symbols {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                            flex: 1 0 auto;

                            .symbol_name {
                                padding: 5px;
                                margin: 10px 5px 5px 0;
                                line-height: 18px;
                                cursor: pointer;
                                width: 162px;
                                font-size: 14px;
                                transition: all 0.2s;
                                @media (min-width: 320px) and (max-width: 767px) {
                                    width: 200px;
                                }

                                &:not(.active):hover {
                                    background: var(--general-hover);
                                }
                                &.active {
                                    background: var(--general-active);
                                    font-weight: bold;
                                    @media (min-width: 320px) and (max-width: 767px) {
                                        background: var(--general-active);
                                        font-weight: bold;
                                        padding-left: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
