/* GLOBAL RULES */

/*
 * To simplify usage of a property
 * with different values for LTR and RTL languages
 * sample usage: @include BIDIR_VALUE(float, left, right);
 */
@mixin BIDIR_VALUE($prop, $ltr_value, $rtl_value) {
    #{$prop}: if($IS_LTR, $ltr_value, $rtl_value);
}

/*
 * To simplify usage of different properties
 * with the same value for LTR and RTL languages
 * sample usage: @include BIDIR_PROP(margin-left, margin-right, 5px);
 */
@mixin BIDIR_PROP($ltr_prop, $rtl_prop, $value) {
    @if $IS_LTR {
        #{$ltr_prop}: $value;
    }
    @else {
        #{$rtl_prop}: $value;
    }
}

@mixin menu-left {
    ul {
        font-size: $FONT_SIZE_N;

        li {
            list-style-image: none;
            margin: 0;
            background: $COLOR_LIGHT_GRAY;
            line-height: 150%;
            border-bottom: 1px solid $COLOR_WHITE;

            &:hover {
                background: $COLOR_GRAY;
            }
            a {
                font-weight: normal;
                text-decoration: none;
                display: block;
                padding: 5px 5px 5px 10px;
                color: $COLOR_BLUE;
            }
        }
        li.selected {
            background: $COLOR_BLUE;

            a {
                color: $COLOR_WHITE;
                text-decoration: none;
            }
        }
    }
}

@mixin link-button {
    color: $COLOR_WHITE;
    text-align: center;
    background: $COLOR_GREEN;
    border-radius: $BORDER_RADIUS;
    padding: 10px 25px;
    display: inline-block;
    letter-spacing: 0.75px;

    &:visited {
        color: $COLOR_WHITE;
    }
    &:hover, &:active {
        text-decoration: none;
        background-color: $COLOR_DARK_GREEN;
    }
}

@mixin portfolio_second_row_description {
    .details {
        display: table-column;
        width: 0 !important;
    }
    tr {
        td {
            padding: 10px 5px 5px;
        }
        &.tr-first td {
            border-bottom: none;
            padding-bottom: 0;
        }
        &.tr-desc {
            display: table-row;

            td {
                padding-top: 0;
            }
        }
    }
}

@mixin deriv-btn($size: 'default', $type: '') {
    @if $size == 'default' {
        box-sizing: border-box;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        touch-action: manipulation;
        cursor: pointer;
        white-space: nowrap;
        display: inline-flex;
        border: 0;
        border-radius: 4px;
        transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
        outline: 0;
        position: relative;
        text-decoration: none;
        text-transform: none !important;
        font-weight: bold !important;
        text-align: center;
        line-height: 1.5;
    }

    &:disabled, &[disabled] {
        opacity: 0.32;
        cursor: not-allowed !important;
    }

    // Types
    @if $type == 'primary' {
        background: var(--button-primary-default);
        color: var(--text-colored-background) !important;

        &:focus, &:hover {
            background: var(--button-primary-hover);
        }
        &:active:not([disabled]) {
            background: var(--button-primary-default);
        }
    }
    @if $type == 'secondary' {
        background: transparent;
        color: var(--text-prominent) !important;

        @if ($size == 'large') {
            border: 2px solid var(--button-secondary-default);
        }
        @else {
            border: 1px solid var(--button-secondary-default);
        }

        &:focus, &:hover {
            background: var(--button-secondary-hover);
        }
        &:active:not([disabled]) {
            border: 1px solid var(--button-secondary-default);
        }
    }
    @if $type == 'tertiary' {
        background: var(--button-tertiary-default);
        color: var(--brand-red-coral) !important;

        &:focus, &:hover {
            background: var(--button-tertiary-hover);
        }
        &:active:not([disabled]) {
            background: var(--button-tertiary-default);
        }
    }
    @if $type == 'link' {
        background: transparent;
        color: var(--brand-red-coral) !important;

        &:focus:not([disabled]), &:hover:not([disabled]) {
            text-decoration: underline !important;
        }
    }
    // Sizes
    @if ($size == 'default') {
        height: 32px;
        border-width: 1px;
        font-size: $FONT_SIZE_S !important;
        padding: 0 16px;
        min-width: 56px;
    }
    @if $size == 'small' {
        height: 24px;
        border-width: 1px;
        font-size: $FONT_SIZE_XS !important;
        padding: 0 8px;
        min-width: 48px;
    }
    @if $size == 'large' {
        height: 40px;
        border-width: 2px;
        font-size: $FONT_SIZE_S !important;
        padding: 0 16px;
        min-width: 64px;
    }
}
