name: DSmartTrader Staging Release
on:
  push:
    branches:
      - master
jobs:
  build_and_test:
    name: Build and Test
    environment: Staging
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - name: Setup Node
        uses: actions/setup-node@f1f314fca9dfce2769ece7d933488f076716723e
        with:
          node-version: 18.x
      - name: Install dependencies
        uses: "./.github/actions/npm_install"
      - name: Build Staging
        uses: "./.github/actions/build"
        with:
          target: staging
          RUDDERSTACK_KEY:  ${{ vars.RUDDERSTACK_KEY }}
          GROWTHBOOK_CLIENT_KEY: ${{ vars.GROWTHBOOK_CLIENT_KEY }}
          REMOTE_CONFIG_URL:  ${{ vars.REMOTE_CONFIG_URL }}
      - name: Build Translations
        uses: "./.github/actions/build"
        with:
          target: translations
          RUDDERSTACK_KEY:  ${{ vars.RUDDERSTACK_KEY }}
          GROWTHBOOK_CLIENT_KEY: ${{ vars.GROWTHBOOK_CLIENT_KEY }}
          REMOTE_CONFIG_URL:  ${{ vars.REMOTE_CONFIG_URL }}
      - name: Versioning
        uses: "./.github/actions/versioning"
        with:
          target_branch: staging
      - name: "Run Tests"
        run: npm run test
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: dist
          path: dist
  publish_cloudflare_staging:
    name: Publish to Cloudflare Pages Staging
    runs-on: ubuntu-latest
    needs: [build_and_test]
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - name: Setup Node
        uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7
        with:
          node-version: 20
      - uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16
        with:
          name: dist
          path: dist
      - name: Publish to Cloudflare
        uses: "./.github/actions/publish_to_pages_staging"
        with:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      - name: Upload to vercel
        uses: 'deriv-com/shared-actions/.github/actions/vercel_DR_publish@master'
        with:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_API_TOKEN }}
          ENVIRONMENT: Preview
          VERCEL_SCOPE: deriv
          ALIAS_DOMAIN_URL: 'staging-smarttrader-dr.binary.sx'